name: Train Spam Model on Azure ML

on:
  push:
    branches:
      - main
    paths:
      - 'src/**'
      - 'job.yml'
  workflow_dispatch: # Allows manual trigger button in GitHub UI

permissions:
  id-token: write
  contents: read

jobs:
  train-model:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Install Azure ML CLI
        run: |
          az extension add -n ml

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Submit Training Job
        run: |
            az ml job create --file backend/job.yml \
            --resource-group rg-nathan-mpops \
            --workspace-name ws-aaron-mlops \
            --stream