name: train-and-register

on:
  workflow_dispatch:

jobs:
  train:
    name: Train Model
    runs-on: ubuntu-latest

    outputs:
      job_id: ${{ steps.submit.outputs.job_id }}

    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Install Azure ML CLI
        run: |
          az extension add -n ml

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Submit Pipeline Job
        id: submit
        run: |
          JOB_ID=$(az ml job create \
            --file backend/pipeline.yaml \  
            --resource-group rg-nathan-mpops \
            --workspace-name ws-aaron-mlops \
            --query name -o tsv)

          echo "Pipeline job submitted: $JOB_ID"
          echo "job_id=$JOB_ID" >> $GITHUB_OUTPUT

      - name: Stream logs until job finishes
        run: |
          az ml job stream \
            --name ${{ steps.submit.outputs.job_id }} \
            --resource-group rg-nathan-mpops \
            --workspace-name ws-aaron-mlops

# *** REMOVE THE ENTIRE REGISTER JOB HERE ***